
#root {
  height: 100%;
}

.hide {
  display: none;
}

.flex-container {
  height: 100%;
  display: flex;

  .left {
    flex: 1 1 20%;
  }
  .right {
    height: 100%;
    flex: 1 1 80%;
    overflow: auto;
  }
}

.GraphqlCodeBlock {
  font-size: 13px;
  padding-left: 2px;
}

.close {
  cursor: pointer;
  position: relative;
  color: #666666;

  &:hover {
    color: #000;
  }

  &::after {
    font-size: 18px;
    position: absolute;
    left: 6px;
    top: 6px;
    display: inline-block;
    content: "\00d7";
  }
}
