$border-color: #cdcdcd;
$tab-hover-color: #e6e6e6;

.react-tabs {

  padding: 2px;
  height: calc(100% - 4px);

  &__tab-list {
    border-bottom: 1px solid $border-color;
    margin: 0 0 10px -2px;
    padding: 0 0 0 22px;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;

    &--selected {
      background: #fff;
      border-color: $border-color;
    }

    &:not(&--selected):hover {
      background: $tab-hover-color;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    font-size: 13px;

    display: none;

    &--selected {
      display: block;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }
  }
}
